<section class="row mt-5 justify-content-center">
   <div class="col-md-5">
      <form (ngSubmit)="registerFormMethod()" [formGroup]="registerForm">
         <h2>Register Now:</h2>
         <div class="mb-2">
            <label for="name" class="mb-2">Name: </label>
            <input type="text" class="form-control" id="name" placeholder="name" formControlName="name"  >

            <div class="alert alert-danger mt-2 p-2" *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched">
               <span  *ngIf="registerForm.get('name')?.getError('minlength')">name minlength: 3</span>
               <span  *ngIf="registerForm.get('name')?.getError('maxlength')" >name maxlength: 10</span>
               <span  *ngIf="registerForm.get('name')?.getError('required')">name is required</span>
            </div>

         </div>

         <div class="mb-2">
            <label for="email" class="mb-2">Email: </label>
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"  >

            <div class="alert alert-danger mt-2 p-2" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched">
               <span  *ngIf="registerForm.get('email')?.getError('email')" >email invalid</span>
               <span  *ngIf="registerForm.get('email')?.getError('required')">email is required</span>
            </div>
         </div>

         <div class="mb-2">
            <label for="password" class="mb-2">Password: </label>
            <input type="password" class="form-control" id="password" placeholder="password" formControlName="password"  >

            <div class="alert alert-danger mt-2 p-2" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched">
               <span  *ngIf="registerForm.get('password')?.getError('pattern')" >password must start with A-Z+a-z or 0-9  minimum 5-10</span>
               <span  *ngIf="registerForm.get('password')?.getError('required')">password is required</span>
            </div>
         </div>

         <div class="mb-2">
            <label for="rePassword" class="mb-2">rePassword: </label>
            <input type="password" class="form-control" id="rePassword" placeholder="rePassword" formControlName="rePassword"  >

            <div class="alert alert-danger mt-2 p-2" *ngIf="registerForm.get('rePassword')?.errors && registerForm.get('rePassword')?.touched">
               <span  *ngIf="registerForm.get('rePassword')?.getError('pattern')" >password must start with A-Z a-z or 0-9  minimum 5-10</span>
               <span  *ngIf="registerForm.get('rePassword')?.getError('required')">rePassword is required</span>
               <span  *ngIf="registerForm.get('rePassword')?.getError('repasserr')">rePassword is not matching</span>
            </div>
         </div>

         <div class="mb-2">
            <label for="phone" class="mb-2">phone: </label>
            <input type="tel" class="form-control" id="phone" placeholder="phone" formControlName="phone"  >

            <div class="alert alert-danger mt-2 p-2" *ngIf="registerForm.get('phone')?.errors && registerForm.get('phone')?.touched">
               <span  *ngIf="registerForm.get('phone')?.getError('pattern')" >phone is start with 011 or 010 or 015 and max is 11</span>
               <span  *ngIf="registerForm.get('phone')?.getError('required')">rePassword is required</span>
            </div>
         </div>
         
         <div class="mb-2">
            <button [disabled]="registerForm.invalid" type="submit" class="btn btn-dark">Register</button>
         </div>


      </form>
   </div>
</section>

