<footer class="bg-main-light  mt-5  p-5">
   <h2>Get the FreshCart app</h2>
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus est  quibusdam officia, sit neque illo. Dolore ex debitis </p>
   <div class="row p-2">
      <div class="col-md-10">
         <input class="form-control" placeholder="Email..">
      </div>

      <div class="col-md-2">
         <button class="btn bg-main text-white px-3">Share App Link</button>
      </div>
   </div>
   <hr>
   <div class="w-100 d-flex justify-content-between  align-items-center">
      <div class="w-50">
         <span class="fa-1x fw-bolder">Payment Partners</span>
         <img class="w-50" src="assets/images/payments.png">
      </div>
      <div class="w-50 d-flex justify-content-end align-items-center">
         <span class="fa-1x fw-bolder">Get deliveries with FreshCart</span>
         <img class="w-50 ms-2" src="assets/images/app.png">
      </div>
   </div>
<hr>
</footer>
