<section class="row mt-5 justify-content-center">
   <div class="col-md-5">
      <form (ngSubmit)="loginMethod()" [formGroup]="loginForm">
         <h2>Login Now:</h2>
        
         <div class="mb-2">
            <label for="email" class="mb-2">Email: </label>
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"  >

            <div class="alert alert-danger mt-2 p-2" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
               <span  *ngIf="loginForm.get('email')?.getError('required')">email is required</span>
               <span  *ngIf="loginForm.get('email')?.getError('email')" >email invalid</span>
            </div>
         </div>

         <div class="mb-2">
            <label for="password" class="mb-2">Password: </label>
            <input type="password" class="form-control" id="password" placeholder="password" formControlName="password"  >

            <div class="alert alert-danger mt-2 p-2" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
               <span  *ngIf="loginForm.get('password')?.getError('required')">password is required</span>
            </div>
         </div>

    
         <a routerLink="/forgetpassword" class="dropdown-item text-main" >ForgetPassword</a>
     
         
         <div class="mb-2 mt-2">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-dark">Login</button>
         </div>


      </form>
   </div>
</section>

