<section class="d-flex bg-main-light  flex-column justify-content-center align-items-center">
   <div *ngIf="stepOne" class="col-md-5 p-3">
      <h2 class="">ForgetPassword</h2>
      <form (ngSubmit)="forgetPasswordForm(forgetPassword)" class="mt-3" [formGroup]="forgetPassword" >
         <div class="mb-1">
            <label for="email">email</label>
            <input class="form-control mt-2" id="email" formControlName="email" type="email" placeholder="email" >
         </div>
         <div class="mt-4">
            <button type="submit" class="w-100 text-white bg-main btn">ForgetPassword</button>
         </div>
      </form>
   </div>

   <div *ngIf="stepTwo"  class="col-md-5">

      <form (ngSubmit)="resetCodeForm(resetCode)" [formGroup]="resetCode">
         <div class="mb-1">
            <label for="resetCode">resetCode</label>
            <input class="form-control mt-2" maxlength="7" id="resetCode" formControlName="resetCode" type="text" placeholder="resetCode" >
         </div>
         <div class="mt-4">
            <button type="submit" class="w-100 bg-main btn">resetCode</button>
         </div>
      </form>
   </div>


   <div *ngIf="stepThree"  class="col-md-5">
      <h2>Reset Password</h2>
      <form (ngSubmit)="resetPasswordForm(resetPassword)"  [formGroup]="resetPassword">
         <div class="mb-1">
            <label for="email">email</label>
            <input class="form-control mt-2"  id="email" formControlName="email" type="email" placeholder="email" >
         </div>
         <div class="mb-1">
            <label for="newpassword">newpassword</label>
            <input class="form-control mt-2"  id="newpassword" formControlName="newPassword" type="password" placeholder="newpassword" >
            <div class="alert alert-danger mt-2 p-2" *ngIf="resetPassword.get('newPassword')?.errors && resetPassword.get('newPassword')?.touched">
               <span  *ngIf="resetPassword.get('newPassword')?.getError('pattern')" >password must start with A-Z+a-z or 0-9  minimum 5-10</span>
               <span  *ngIf="resetPassword.get('newPassword')?.getError('required')">password is required</span>
            </div>
         </div>
         <div class="mt-4">
            <button type="submit" class="w-100 bg-main text-white btn">Reset Password</button>
         </div>
      </form>
   </div>

</section>
